<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h3>Edit your Listing</h3>
      <br />
      <form
        method="post"
        action="/listings/<%= listing._id%>?_method=PUT"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            value="<%= listing.title%>"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">title is good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            type="text"
            class="form-control"
            required
          ><%= listing.description%></textarea>
          <div class="invalid-feedback">please write a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            name="listing[image]"
            value="<%= listing.image%>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please write valid URL</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              value="<%= listing.price%>"
              type="number"
              required
              class="form-control"
            />
            <div class="invalid-feedback">please write a valid price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">State</label>
            <input
              name="listing[state]"
              value="<%= listing.state%>"
              type="text"
              required
              class="form-control"
            />
            <div class="invalid-feedback">State name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            value="<%= listing.location%>"
            type="text"
            required
            class="form-control"
          />
          <div class="invalid-feedback">write valid location</div>
        </div>
        <br />
        <button class="btn btn-dark edit-btn" type="submit">Edit</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
